<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerenciar Pedidos</title>
</head>
<body>
    <header>
        <h1>Gerenciar Pedidos</h1>
        <nav>
            <ul>
                <li><a asp-controller="Pedido" asp-action="Cadastro">Cadastro</a></li>

                <li><a asp-controller="Pedido" asp-action="Atualizar">Atualizar</a></li>
                
                <li><a asp-controller="Pedido" asp-action="Deletar">Deletar</a></li>
                
                <li><a asp-controller="Pedido" asp-action="Listar">Listar</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <section>
            <p>Bem Vindo ao Gerenciador de Pedidos</p>
        </section>

    </main>

    <footer>

        <p>Todos os direitos reservados ao proprietário</p>

    </footer>



</body>
</html>